.bg-orange {
    background-color: $primaryOrange;
}

.btn:active, .btn:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-orange {
    color: #fff;
    background-color: $primaryOrange;
    border-color: $primaryOrange;

    &:hover {
        color: #fff;
    }
}

.bg-orange {
    background-color: $primaryOrange!important;
}

.btn-ripple {
	display: inline-block;
	position: relative;
	overflow: hidden;
	transition: all ease-in-out .5s;
    
    &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 25%;
        height: 100%;
        width: 50%;
        background-color: rgba($color: $white, $alpha: 1);
        border-radius: 50%;
        opacity: 0;
        pointer-events: none;
        transition: all ease-in-out 0.5s;
        transform: scale(5, 5);
    }

    &:active::after {
        padding: 0;
        margin: 0;
        opacity: .2;
        transition: 0s;
        transform: scale(0, 0);
    }
}

.was-validated .form-control:invalid, .form-control.is-invalid {
    border-color: $red-400;
    background-image: none;
    background-color: $red-100;
}

.invalid-feedback {
    color: $red-400;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: $primaryLightGray;
    font-size: 0.9rem;
}

.page-top {
    margin-bottom: 4rem;
}